$l_container--max-width: map-get($base--breakpoints, lg);

.l_container {
  margin: 0 auto;
  max-width: $l_container--max-width;
  padding: 0 30px;
  width: 95%;

  &--narrow {
    max-width: $l_container--max-width * 0.75;
  }

  &--wide {
    max-width: $l_container--max-width * 1.5;
  }
}
