.l_project-gallery {
  margin: spacer(4) auto;

  @media (min-width: map-get($base--breakpoints, md)) {
    margin: spacer(5) auto;
  }

  &__item {
    margin-bottom: spacer(2);

    &:last-child {
      margin-bottom: 0;
    }
  }
}
