.l_projects-grid {
  display: grid;
  grid-gap: spacer(2);
  grid-template-columns: 1fr;
  margin: spacer(4) 0;

  @media (min-width: map-get($base--breakpoints, md)) {
    grid-template-columns: repeat(2, 1fr);

    > *:first-child {
      grid-column: span 2;
    }
  }

  @media (min-width: map-get($base--breakpoints, lg)) {
    grid-template-columns: repeat(3, 1fr);
    margin: spacer(5) 0;

    > *:first-child {
      grid-row: span 2;
    }
  }
}
