.l_related {
  display: grid;
  grid-gap: spacer(2);
  grid-template-columns: 1fr;
  margin: spacer(4) 0;

  @media (min-width: map-get($base--breakpoints, lg)) {
    grid-template-columns: repeat(2, 1fr);
    margin: spacer(5) 0;
  }
}
