.c_banner {
  align-items: center;
  display: flex;
  padding: spacer(4) 0;
  position: relative;
  z-index: 2;

  &__layout {
    align-items: center;
    display: flex;
    flex-flow: row;
    flex-wrap: nowrap;
    justify-content: space-between;
  }

  &__branding {
    margin-right: spacer(4);
  }
}
