$c_branding--logo--width: 594px;

.c_branding {
  $this: &;
  align-items: flex-start;
  display: flex;
  flex-direction: column;

  &--inline {
    align-items: center;
    flex-direction: row;

    #{$this}__logo {
      width: $c_branding--logo--width * 0.25;
    }

    #{$this}__strapline {
      font-size: $base--font-size--small;
      margin: 0 0 0 1.5em;
    }
  }

  &__link {
    color: $swatch--white;

    &:hover,
    &:focus {
      color: $swatch--brand;
    }
  }

  &__logo {
    display: block;
    max-width: 100%;
    width: $c_branding--logo--width * 0.66;
  }

  &__logomark {
    color: $swatch--brand;
  }

  &__strapline {
    color: $swatch--white;
    margin: spacer(3) 0 0 0;
  }
}
