.c_callout {
  background-color: $swatch--white;
  color: $swatch--black;
  margin: spacer(3) 0;
  padding: spacer(3);

  @media (min-width: map-get($base--breakpoints, md)) {
    margin: spacer(4) 0;
    padding: spacer(4);
  }

  > *:last-child {
    margin-bottom: 0;
  }

  &__title {
    color: inherit;
    font-size: rem-scale(2);
  }

  &__number {
    color: $swatch--brand;
    margin-right: spacer(1);
  }
}
