.c_cta {
  background-color: $swatch--brand;
  color: mix($swatch--white, $swatch--action, 90%);
  padding: spacer(5) 0;

  @media (min-width: map-get($base--breakpoints, md)) {
    font-size: $base--font-size--large;
  }

  @media (min-width: map-get($base--breakpoints, xl)) {
    padding: spacer(6) 0;
  }

  @media (min-width: map-get($base--breakpoints, site)) {
    padding: spacer(7) 0;
  }

  &__message {
    margin: 0;
  }

  &__link {
    color: $swatch--emphasis;
    font-weight: $base--font-weight--bold;

    &:hover {
      color: mix($swatch--emphasis, $swatch--action);
    }
  }
}
