.c_footer-navigation {
  font-weight: $base--font-weight--bold;
  margin: 0 0 1em 0;

  @media (min-width: map-get($base--breakpoints, md)) {
    font-size: $base--font-size--large;
  }

  &__list {
    display: flex;
    flex-wrap: wrap;
    list-style: none;
    margin: 0 -0.5em;
    padding: 0;
  }

  &__item {
    padding: 0 0.5em;
  }
}
