$c_footer--height: 405px;

.c_footer {
  background-color: $swatch--white;
  color: $swatch--subtle;
  padding: spacer(4) 0;

  @media (min-width: map-get($base--breakpoints, md)) {
    padding: spacer(5) 0;
  }

  @media (min-width: map-get($base--breakpoints, lg)) {
    height: $c_footer--height;
    position: fixed;
    bottom: 0;
    width: 100%;
    z-index: -1;
  }

  &__title {
    color: $swatch--black;
    margin-bottom: 0.4em;
  }

  &__smallprint {
    font-size: $base--font-size--tiny;

    @media (min-width: map-get($base--breakpoints, lg)) {
      margin-bottom: 0;
    }
  }
}
