$c_gutter--width: 300px;

.c_gutter {
  $this: &;
  background-color: $swatch--black;
  bottom: 0;
  max-width: 90%;
  position: fixed;
  right: -$c_gutter--width;
  top: 0;
  transition: left $base--transition ease-in-out, right $base--transition ease-in-out, visibility $base--transition ease-in-out;
  visibility: hidden;
  width: $c_gutter--width;
  z-index: 1000;

  @media (min-width: map-get($base--breakpoints, lg)) {
    display: none;
  }

  &--reveal {
    visibility: visible;
    box-shadow: 0 0 0 100vw rgba($swatch--brand, 0.5);
  }

  &--left {
    left: -$c_gutter--width;

    &#{$this}--reveal {
      left: 0;
    }
  }

  &--right {
    right: -$c_gutter--width;

    &#{$this}--reveal {
      right: 0;
    }
  }
}
