.c_gutter-navigation {
  padding: spacer(6) spacer(5) spacer(5) spacer(5);
  position: sticky;

  &__close {
    background-color: rgba(white, 0.1);
    color: white;
    font-weight: $base--font-weight--bold;
    left: spacer(5);
    line-height: 1em;
    padding: 0.3em 1em;
    position: absolute;
    top: 0;
    transition: color $base--transition;

    &:hover {
      color: $swatch--action;
    }
  }

  &__list {
    font-size: rem-scale(2);
    list-style: none;
    margin: 0;
    padding: 0;

    @media (min-width: map-get($base--breakpoints, sm)) {
      font-size: rem-scale(1);
    }
  }

  &__item {
    margin-bottom: 0.5em;
  }

  &__link {
    color: white;
    display: block;

    &:focus,
    &:hover {
      color: $swatch--action;
    }

    &--highlight {
      color: $swatch--action;
    }
  }
}
