.c_header {
  background-color: $swatch--black;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  display: flex;
  flex-direction: column;
  justify-content: center;
  position: relative;

  &--fullheight {
    min-height: 100vh;
    position: relative;

    &:before {
      background-color: rgba($swatch--black, 0.75);
      bottom: 0;
      content: "";
      height: 100%;
      left: 0;
      pointer-events: none;
      position: absolute;
      right: 0;
      top: 0;
      width: 100%;
      z-index: 1;
    }

    &:after {
      bottom: spacer(4);
      color: $swatch--white;
      content: "\f078";
      font-family: "icomoon";
      font-size: $base--font-size--tiny;
      pointer-events: none;
      position: absolute;
      text-align: center;
      width: 100%;
      z-index: 2;
    }
  }
}
