.c_hero {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  justify-content: center;
  padding: 0 0 spacer(5) 0;
  position: relative;
  z-index: 2;

  &__title {
    margin: 0;

    @media (min-width: map-get($base--breakpoints, lg)) {
      max-width: 80%;
      font-size: rem-scale(6);
    }
  }
}
