.c_page-header {
  margin-bottom: spacer(5);

  @media (min-width: map-get($base--breakpoints, md)) {
    max-width: 80%;
  }

  @media (min-width: map-get($base--breakpoints, lg)) {
    max-width: 70%;
  }

  > *:last-child {
    margin-bottom: 0;
  }
}
