.c_post {
  $this: &;
  color: $swatch--black;
  display: flex;
  flex-direction: column;
  font-size: $base--font-size--small;
  height: 100%;

  &:hover {
    #{$this}__excerpt {
      color: $swatch--black;
    }
  }

  &--small {
    #{$this}__headline {
      font-size: rem-scale(1);
    }
  }

  &__image {
    display: block;
  }

  &__headline {
    color: inherit;
    font-size: rem-scale(2);
    margin-bottom: spacer(1);
    transition: color $base--transition;
  }

  &__date {
    color: $swatch--subtle;
    font-size: $base--font-size--tiny;
    margin-bottom: spacer(3);
  }

  &__summary {
    background-color: $swatch--white;
    flex-grow: 1;
    padding: spacer(3);

    @media (min-width: map-get($base--breakpoints, md)) {
      padding: spacer(4);
    }
  }

  &__excerpt {
    > *:last-child {
      margin: 0;
    }
  }
}
