.c_primary-navigation {
  color: white;
  font-size: $base--font-size--tiny;

  &__list {
    display: grid;
    grid-auto-columns: min-content;
    grid-auto-flow: column;
    grid-gap: spacer(2);
    justify-content: end;
    list-style: none;
    margin: 0;
    padding: 0;
  }

  &__item {
    &--desktop {
      display: none;

      @media (min-width: map-get($base--breakpoints, md)) {
        display: block;
      }
    }

    &--mobile {
      display: block;

      @media (min-width: map-get($base--breakpoints, md)) {
        display: none;
      }
    }
  }

  &__link {
    align-items: center;
    color: inherit;
    display: flex;
    font-weight: $base--font-weight--bold;
    height: 100%;
    padding: spacer(1);

    &:focus,
    &:hover {
      color: $swatch--action;
    }

    &--highlight {
      color: $swatch--action;
    }
  }

  svg {
    display: block;
  }
}
