.c_project {
  $this: &;
  display: block;
  height: 100%;
  position: relative;
  width: 100%;

  &:hover {
    #{$this}__summary {
      opacity: 1;
    }
  }

  &__image {
    display: block;
    height: 100%;
    object-fit: cover;
    position: relative;
    transition: filter 200ms;
    z-index: 1;
  }

  &__headline {
    color: $swatch--white;
    font-size: $base--font-size--large;
    margin: auto;
    text-align: center;
  }

  &__summary {
    background-color: rgba($swatch--black, 0.75);
    display: flex;
    height: 100%;
    left: 0;
    opacity: 0;
    padding: spacer(4);
    position: absolute;
    top: 0;
    transition: opacity 200ms;
    width: 100%;
    z-index: 2;
  }
}
