.c_section {
  padding: spacer(5) 0;

  @media (min-width: map-get($base--breakpoints, lg)) {
    padding: spacer(6) 0;
  }

  @media (min-width: map-get($base--breakpoints, xl)) {
    padding: spacer(7) 0;
  }

  &--image {
    background-color: $swatch--alt;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 60vh;

    @media (min-width: map-get($base--breakpoints, lg)) {
      height: 75vh;
      background-attachment: fixed;
    }
  }

  &--white {
    background-color: $swatch--white;
    color: mix($swatch--black, white, 90%);

    .e_heading {
      color: $swatch--black;
    }

    blockquote {
      background-color: $swatch--light-grey;

      &:after {
        border-color: $swatch--light-grey transparent transparent transparent;
      }
    }

    .c_callout {
      color: inherit;
      background-color: $swatch--light-grey;
    }
  }

  &--insights {
    background-image: url("../images/insight_background.jpg");
    background-position: bottom;
    background-repeat: no-repeat;
    background-size: contain;
  }

  &--alt {
    background-color: $swatch--alt;
  }

  &--fullheight {
    display: flex;
    flex-direction: column;
    justify-content: center;
    min-height: 100vh;
  }
}
