.c_service-list {
  margin: spacer(4) 0 0 0;

  @media (min-width: map-get($base--breakpoints, lg)) {
    margin: spacer(5) 0 0 0;
  }

  &__title {
    margin: 0;
    line-height: $base--line-height--tight;
  }

  &__list {
    list-style: none;
    margin: 0;
    padding: 0;
  }

  &__item {
    font-size: rem-scale(2);
    font-weight: $base--font-weight--bold;
    line-height: $base--line-height--tight;
    color: $swatch--action;

    @media (min-width: map-get($base--breakpoints, md)) {
      font-size: rem-scale(3);
    }

    @media (min-width: map-get($base--breakpoints, lg)) {
      font-size: rem-scale(4);
    }
  }
}
