.e_anchor {
  color: $swatch--action;
  text-decoration: none;
  transition: color $base--transition;

  &:hover {
    color: darken($swatch--action, 5%);
  }

  &:focus {
    color: darken($swatch--action, 10%);
  }
}
