.e_blockquote {
  background-color: $swatch--white;
  color: $swatch--black;
  font-size: $base--font-size--large;
  font-style: italic;
  margin: spacer(4) 0;
  padding: spacer(4);
  position: relative;

  @media (min-width: map-get($base--breakpoints, lg)) {
    margin: spacer(5) 0;
  }

  > *:last-child {
    margin-bottom: 0;
  }

  &:after {
    border-color: $swatch--white transparent transparent transparent;
    border-style: solid;
    border-width: 20px 20px 0px 20px;
    content: "";
    left: spacer(3);
    position: absolute;
    top: 100%;
    pointer-events: none;

    @media (min-width: map-get($base--breakpoints, md)) {
      left: spacer(4);
    }
  }

  &__paragraph {
    &:before {
      content: "\201C";
    }

    &:after {
      content: "\201D";
    }
  }

  &__cite {
    color: $swatch--subtle;
    display: block;
    font-size: $base--font-size--small;
    font-style: normal;

    @media (min-width: map-get($base--breakpoints, md)) {
      font-size: $base--font-size--tiny;
    }
  }
}
