.e_heading {
  color: $swatch--emphasis;
  font-family: $base--font-family--display;
  font-weight: $base--font-weight--bold;
  line-height: $base--line-height--tight;
  margin: 0 0 0.6em 0;

  &--h1 {
    font-size: rem-scale(5);
  }

  &--h2 {
    font-size: rem-scale(4);
  }

  &--h3 {
    font-size: rem-scale(3);
  }

  &--h4 {
    font-size: rem-scale(2);
  }

  &--h5 {
    font-size: rem-scale(1);
  }

  &--h6 {
    font-size: rem-scale(0);
  }
}
