ul,
ol {
  list-style-position: inside;
  margin: $base--margin;
  padding: 0;

  ul,
  ol {
    margin: 0 0 0 2em;
  }
}

dl {
  margin: $base--margin;

  dt {
    font-weight: $base--font-weight--bold;
  }

  dd {
    margin: $base--margin;
  }
}
