.e_rule {
  border-color: $base--border-color;
  border-style: solid;
  border-width: $base--border-width 0 0 0;
  height: 0;
  margin: spacer(5) auto spacer(5) 0;
  overflow: visible;
  width: spacer(5);
}
