a {
  @extend .e_anchor !optional;
}

blockquote {
  @extend .e_blockquote !optional;

  p {
    @extend .e_blockquote__paragraph !optional;
  }

  cite {
    @extend .e_blockquote__cite !optional;
  }
}

button {
  @extend .e_button !optional;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  @extend .e_heading !optional;
}

h1 {
  @extend .e_heading--h1 !optional;
}

h2 {
  @extend .e_heading--h2 !optional;
}

h3 {
  @extend .e_heading--h3 !optional;
}

h4 {
  @extend .e_heading--h4 !optional;
}

h5 {
  @extend .e_heading--h5 !optional;
}

h6 {
  @extend .e_heading--h6 !optional;
}

img {
  @extend .e_image !optional;
}

p {
  @extend .e_paragraph !optional;
}

hr {
  @extend .e_rule !optional;
}
