@import "~scss-modular-scale/functions";

@function spacer($key: 3) {
  @return map-get($base--spacers, $key);
}

@function strip-unit($num) {
  @return $num / ($num * 0 + 1);
}

@function rem-calc($value, $base: null) {
  @if $base == null {
    $base: $rem-calc-base;
  }

  @if unit($base) == "%" {
    $base: ($base / 100%) * 16px;
  }

  @if unit($base) == "rem" {
    $base: strip-unit($base) * 16px;
  }

  @return -zf-to-rem($value, $base);
}

@function -zf-to-rem($value, $base: null) {
  @if type-of($value) != "number" {
    @warn inspect($value) + ' was passed to rem-calc(), which is not a number.';
    @return $value;
  }

  @if unit($value) == "em" {
    $value: strip-unit($value) * 1rem;
  }

  @if unit($value) != "rem" {
    $value: strip-unit($value) / strip-unit($base) * 1rem;
  }

  @if $value == 0rem {
    $value: 0;
  }

  @return $value;
}
