// Modular Scale
$modular-scale-ratio: 1.55;
$rem-scale-ratio: 1.24;
$em-scale-ratio: $rem-scale-ratio;
$rem-calc-base: percentage(18/16);

// swatch
$swatch--alt: #111111;
$swatch--copy: #dddddd;
$swatch--border: #444444;
$swatch--action: #8560cf;
$swatch--brand: $swatch--action;
$swatch--emphasis: #ffffff;
$swatch--subtle: #999999;
$swatch--white: #ffffff;
$swatch--black: #000000;
$swatch--light-grey: #f6f6f6;

// transition
$base--transition: 100ms;

// border-color
$base--border-color: $swatch--border;

// border-width
$base--border-width: 2px;
$base--border-width--thick: $base--border-width * 2;

// line-height
$base--line-height: 1.5;
$base--line-height--tight: 1.2;

// margin
$base--margin: 0 0 1.5em 0;

// font-family
$base--font-family: "urw-din", sans-serif;
$base--font-family--display: $base--font-family;

// font-size
$base--font-size: percentage(17/16);
$base--font-size--small: rem-scale(-1);
$base--font-size--tiny: rem-scale(-2);
$base--font-size--large: rem-scale(1);

// font-weight
$base--font-weight: 400;
$base--font-weight--bold: 700;

// breakpoints
$base--breakpoints: (
  sm: 480px,
  md: 700px,
  lg: 1060px,
  xl: 1200px
);

// spacing
$base--spacer: 10px;
$base--spacers: (
  0: 0,
  1: rem-calc($base--spacer),
  2: rem-calc(modular-scale($base--spacer, 1)),
  3: rem-calc(modular-scale($base--spacer, 2)),
  4: rem-calc(modular-scale($base--spacer, 3)),
  5: rem-calc(modular-scale($base--spacer, 4)),
  6: rem-calc(modular-scale($base--spacer, 5)),
  7: rem-calc(modular-scale($base--spacer, 6))
);
