@import "functions";
@import "variables";
@import "~normalize.css/normalize";
@import "~aos/src/sass/aos";

// Layouts
@import "layouts/container";
@import "layouts/posts-grid";
@import "layouts/project-gallery";
@import "layouts/projects-grid";
@import "layouts/related";

// Elements
@import "elements/anchor";
@import "elements/blockquote";
@import "elements/button";
@import "elements/heading";
@import "elements/image";
@import "elements/list";
@import "elements/paragraph";
@import "elements/rule";

// Components
@import "components/banner";
@import "components/branding";
@import "components/callout";
@import "components/cta";
@import "components/footer";
@import "components/footer-navigation";
@import "components/gutter";
@import "components/gutter-navigation";
@import "components/header";
@import "components/hero";
@import "components/icomoon";
@import "components/main";
@import "components/page-header";
@import "components/post";
@import "components/primary-navigation";
@import "components/project";
@import "components/section";
@import "components/service-list";

@import "extend";

.toggle:after {
  content: "new";
}

html {
  box-sizing: border-box;
  color: $swatch--copy;
  font-family: $base--font-family;
  font-size: $base--font-size;
  font-weight: $base--font-weight;
  line-height: $base--line-height;
  scroll-behavior: smooth;
  text-size-adjust: 100%;

  @media (min-width: map-get($base--breakpoints, sm)) {
    font-size: percentage(22/16);
  }

  @media (min-width: map-get($base--breakpoints, md)) {
    font-size: percentage(26/16);
  }

  * {
    &,
    &:after,
    &:before {
      box-sizing: inherit;
    }
  }
}

body {
  background-color: $swatch--black;
  margin: 0;
  overflow-x: hidden;
  overflow-y: scroll;

  @at-root html.js & {
    opacity: 0;
    transition: opacity 1s cubic-bezier(0.6, 0.1, 0.25, 1);

    &.loaded {
      opacity: 1;
    }
  }
}
